.nav_links {
	@apply flex flex-col items-start space-x-0 space-y-6 lg:flex-row lg:items-center lg:space-x-10 lg:space-y-0;

	.header_link {
		@apply inline-flex px-1 text-base font-medium text-neutral-400 transition duration-200 ease-in-out hover:text-neutral-800  dark:hover:text-white;

		&.active {
			@apply text-neutral-800 dark:text-white;

			& + .header_dropdown_icon {
				@apply text-neutral-800 dark:text-white;
			}
		}

		&:hover + .nav_menu_dropdown_icon,
		&.active + .nav_menu_dropdown_icon {
			@apply text-neutral-800;
		}
	}

	.nav_menu_dropdown_icon {
		@apply text-neutral-400;
	}

	.navigation_menu_trigger:hover .nav_menu_dropdown_icon {
		@apply text-neutral-800;
	}
}

.user_profile {
	.navigation_menu_viewport {
		@apply left-[-210px] top-full vsm:left-[-110px]  lg:left-[-90px];
	}

	.option_wp {
		@apply flex items-center justify-start gap-[14px];
	}

	.option_wp .icon_24 {
		@apply stroke-2 text-neutral-800;
	}

	.option_num {
		@apply ml-auto flex h-[30px] w-[30px] items-center justify-center rounded-md bg-neutral-100 text-sm font-medium text-neutral-800;
	}

	.theme_mode {
		.theme_switch {
			@apply h-[27px] w-[45px] p-[6px];

			.switch_thumb {
				@apply h-[15px] w-[15px];
			}
		}
	}

	.profile_item {
		@apply h-10 rounded-md px-2 transition-colors duration-200 ease-out hover:bg-neutral-200/60;
	}
}

.header_auth_dropdown {
	.navigation_menu_viewport {
		@apply left-[-80px] top-[40px];
	}

	.auth_dropdown_item {
		@apply flex items-center justify-start gap-3 font-semibold text-neutral-800 transition-colors duration-300 ease-in-out hover:text-primary-500 active:text-primary-500;
	}
}

.categories_menu {
	.categories_menu_wp {
		@apply rounded-3xl  border border-neutral-300 bg-white p-6;
		width: clamp(59.875rem, 96.205vw - 1.696rem, 113.75rem);
		box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
	}

	.category_menu_box {
		height: clamp(12.5rem, 5.3571rem + 11.1607vw, 18.75rem);

		img {
			width: clamp(10rem, 3.5714rem + 10.0446vw, 15.625rem);
			height: auto;
		}
	}
	.category_menu_links {
		&:nth-child(1),
		&:nth-child(8) {
			.category_menu_box {
				@apply bg-primary-600;
			}

			&:hover {
				.category_menu_box {
					@apply bg-primary-500;
				}
			}
		}

		&:nth-child(2),
		&:nth-child(7) {
			.category_menu_box {
				@apply bg-neutral-200;
			}

			&:hover {
				.category_menu_box {
					@apply bg-neutral-100;
				}
			}
		}

		&:nth-child(3),
		&:nth-child(6) {
			.category_menu_box {
				@apply bg-neutral-900;
			}

			&:hover {
				.category_menu_box {
					@apply bg-neutral-800;
				}
			}
		}

		&:nth-child(4),
		&:nth-child(5) {
			.category_menu_box {
				@apply bg-secondary-600;
			}

			&:hover {
				.category_menu_box {
					@apply bg-secondary-500;
				}
			}
		}
	}
}
