@tailwind base;
@tailwind components;
@tailwind utilities;

/* container */
.container {
	@apply mx-auto w-full max-w-full;
	padding-inline: clamp(1.25rem, 0.875rem + 1.875vw, 3.125rem);
}

/* logo */

.site_logo {
	@apply inline-flex items-center gap-3;

	.logo_wp {
		@apply flex h-10 w-10 items-center justify-center rounded-lg;
	}

	.logo_text {
		@apply font-primary text-xl font-medium leading-none;
	}
}

/* dark theme css */

.dark {
	.static_dark_icon {
		filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
	}

	.static_light_icon {
		filter: brightness(0) saturate(100%) invert(0%) sepia(84%) saturate(4189%) hue-rotate(96deg) brightness(88%) contrast(92%);
	}
}

/* import components files */
@import "../_styles/header.scss";
